#navbar{
    padding: 25px;
    background-color: rgb(4, 4, 4) !important;
   margin-bottom:0px;
   border-radius: 0px;
    
}
.navbar-brand{
    padding:0px;
    text-align: center;
}

.nav-link{
    font-size: 1.2em;
    padding: 0px;
    padding-left:0px;
}

#logo{
    width: 60%;
    padding: 0px;
    margin: 0px;
}

#links{
    float:right
}
